h1 {
	color: #0b0c0c;
	font-size: 50px;
	font-family: serif;
}

body {
	background-color: #fff;
	
}

p {
	font-family: 'Times New Roman', Times, serif;
	background: green;
}

#text {
	background-color: red;
} 

.msg.txt {
	background: yellow;
}

div > a {
	background: #fff;
}

div + a {
	background: blueviolet;
}

* {
	margin-top: 20px;
}

div p {
	background: orange;
} 

a[href] {
	color: dodgerblue;

}

a[href="#msg"] {
	color:purple;
}

a[href^="http"] {
	color: greenyellow
}