input:required {
    background: orange;
}

textarea {
    resize: both;
}



/* input:enabled {
    background: green;
    padding: 20px;


} */


/* input[type="email"]:invalid {
    background: red;
}

input[type="email"]:valid {
    background: rgb(30, 212, 90);
}


input[type="number"]:invalid {
    background: red;
}

input[type="number"]:valid {
    background: rgb(30, 212, 90);
} */