@import url('https://fonts.googleapis.com/css2?family=Itim&family=Pacifico&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rubik+Wet+Paint&display=swap');

div {
    font-size: 36px;
    /* font-family: monospace; */
    /* font-style:  italic; */
    font-variant: normal;
    /* font-weight: lighter; */
    font-family: "Pacifico", cursive;
    text-align: center;
   
}

.margin {
    background: #afa7a7;
    margin: 10px 200px 300px 400px;
}