@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    background: rgba(161, 153, 153, 0.26);
}

.main {
    height: 150px;
    text-align: center;
    color: #000000d8;
    padding:  13px;
    font-family: "Tenor Sans", sans-serif;
    font-size: 12px;
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);
    
}

p {
    padding: 30px;
    
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior:  smooth;
    }
}





