@font-face {
    font-family: "FONTS";  
    src: url("Fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

* {
    padding: 0px;
    margin: 0px;    
}

body {
    margin: 0px;
    padding: 0px;
    background: rgba(161, 153, 153, 0.26);
}


.main {
    height: 200px;
    text-align: center;
    color: #000000d8;
    padding:  5px;
    font-family: "FONTS";
    font-size: 20px;
    background: linear-gradient(to bottom,  rgba(34,116,108,1) 0%,rgba(46,162,141,1) 50%,rgba(39,151,132,1) 51%,rgba(83,207,182,1) 100%);

}



.parent {
    width: 300px;
    height: 300px;
    background: black;
    margin: 30px;
}

.child {
    background: orange;
    width: 100px;
    height: 100px;

}

.p1 {
    display: grid;
    place-items: center;
}


/* выровнять по центру */
/* .c1 {  
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
} */

/* выровнять по центру */
/* .c1 {   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */